<template>
    <div class="hide_md side_column">
        <form method="POST" action="" class="filter_block">
            <div class="category_title">
                <h4>Bikes</h4>
            </div>
            <div class="search_input">
                <input type="text" placeholder="Keyword" name="search">
                <img src="/img/search_gray.svg">
            </div>
            <div class="filter_list">
                <div class="filter_item" v-for="filter in filters">
                    <div class="filter_title">
                        <img :src="'/img/filter/'+filter.img" v-if="filter.img.length > 0" class="icon">
                        <h4>{{filter.filter_name}}</h4>
                        <img src="/img/arrow_gray.svg" class="arrow">
                    </div>
                    <div class="filter_inner">
                        <div class="input_item" v-for="option in filter['options']">
                            <input
                                type="checkbox"
                                v-model="searchTypeList[option.opt_id]"
                                v-bind:id="option.opt_id"
                                :false-value=null
                            />
                            <label :for="option.opt_id">{{option.opt_name}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <router-link :to="{query: { filter: [routefiltr] } }">
                <button type="clear" class="clear_btn" v-on:click="fillter_route">Apply now</button>
            </router-link>
<!--            <button type="clear" class="clear_btn">Apply now</button>-->
            <div style="
                            text-align: center;
                            font-size: 12px;
                            font-style: italic;
                            margin-top: 5px;
                            cursor: pointer;">
                <p>Clear All</p>
            </div>
            <div class="btns_block">
                <button type="button">
                    Save search
                    <img src="/img/star.svg">
                </button>
                <button type="button">
                    Notify me
                    <img src="/img/notification.svg">
                </button>
            </div>
        </form>
    </div>
</template>
<!--<script src="http://gosee.zav/js/libs.min.js"></script>-->
<!--<script src="http://gosee.zav/js/script.js"></script>-->

<script>
    export default {

        props: [
            'cat_id'
        ],

        data() {
            return {
                checked: true,
                searchTypeList: [],
                getfilter: [],
                filters: [],
                routefiltr: [],
                is_refresh: false,
            }
        },
        methods: {
            update: function () {
                var cat_id = this.cat_id;
                var searchTypeList = this.searchTypeList;
                if (this.$route.query.filter) {
                    var getfilter = this.$route.query.filter;
                    this.getfilter = getfilter.split(',');
                    this.getfilter.forEach(function (el) {
                        searchTypeList[el] = true
                    })
                }
                axios.post('/ajax/getFilters', {cat_id}).then((response) => {
                    this.is_refresh = false
                    this.filters = response.data.filters
                }).catch(error => console.log(error));
            },
            fillter_route: function (event) {
                var searchTypeList = this.searchTypeList;

                var arr = []
                let numCallbackRuns = 0;
                searchTypeList.forEach(function (element, key) {
                    numCallbackRuns++;
                    if (element) {
                        arr.push(key);
                    }
                });
                this.routefiltr = arr;
            },
            inArray: function (needle, haystack) {
                var length = haystack.length;
                for (var i = 0; i < length; i++) {
                    if (haystack[i] == needle) return true;
                }
                return false;
            }
        },
        mounted() {
            // this.$loadScript("http://gosee.zav/js/libs.min.js")
            //     .then(() => {
            //         alert('Ok libs.min.js');
            //     })
            //     .catch(() => {
            //         alert('None libs.min.js');
            //     });
            // this.$loadScript("http://gosee.zav/js/script.js")
            //     .then(() => {
            //         alert('Ok script.js');
            //     })
            //     .catch(() => {
            //         alert('None script.js');
            //     });


            // if (this.$route.query.filter){
            //     var getfilter = this.$route.query.filter;
            //     this.getfilter = getfilter.split(',');
            //
            //     this.getfilter.forEach(function(el){
            //         this.searchTypeList = []
            //         console.log(el);
            //         this.searchTypeList[el] = true;
            //         console.log('searchTypeList');
            //         console.log(this.searchTypeList);
            //
            //         // $('#100').click();
            //         // jQuery('#101').click();
            //     });
            // }
            this.update();
        }
    }
</script>



