<template>
<!--    <button type="submit" class="submit_btn">-->
<!--        <div class="plane_btn">-->
<!--            Полетели!-->
<!--            <img src="{{ asset('img/plane.svg') }}">-->
<!--        </div>-->
<!--        <div class="railway_btn">-->
<!--            Поехали!-->
<!--            <img src="{{ asset('img/tram2.svg') }}">-->
<!--        </div>-->
<!--    </button>-->
</template>

<script>

</script>



