<template>
    <div>
        <section class="inner_section cabinet_section">
            <!--            search_type=55-->
            <!--                        <router-link :to="{query: { search_type: [33] } }">-->
            <!--                            <button type="clear" class="clear_btn" >Apply now</button>-->
            <!--                        </router-link>-->
            <div class="row">
                <div class="mobile_filter_btn show_sm">
                    <p>раскрыть фильтр</p>
                    <img src="/img/arrow.svg">
                </div>
                <form autocomplete="off" class="left_block left_filter hide_sm">
                    <!--                    <button class="notification_btn">-->
                    <!--                        <p>следить за ценами</p>-->
                    <!--                        <img src="/img/ic_notifications_24px.svg">-->
                    <!--                    </button>-->
                    <!--                    <div class="dropdown_filter">-->
                    <!--                        <div class="filter_title">-->
                    <!--                            <p>пересадки</p>-->
                    <!--                            <img src="/img/arrow_violet.svg">-->
                    <!--                        </div>-->
                    <!--                        <div class="filter_block">-->
                    <!--                            <input type="checkbox" id="checkbox1">-->
                    <!--                            <label for="checkbox1">-->
                    <!--                                <p class="type">1 пересадка</p>-->
                    <!--                                <p class="price">от 4193 тг</p>-->
                    <!--                            </label>-->
                    <!--                            <input type="checkbox" id="checkbox2">-->
                    <!--                            <label for="checkbox2">-->
                    <!--                                <p class="type">2 пересадки</p>-->
                    <!--                                <p class="price">от 4193 тг</p>-->
                    <!--                            </label>-->
                    <!--                            <input type="checkbox" id="checkbox3">-->
                    <!--                            <label for="checkbox3">-->
                    <!--                                <p class="type">3 пересадки</p>-->
                    <!--                                <p class="price">от 4193 тг</p>-->
                    <!--                            </label>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <div class="dropdown_filter">
                        <div class="filter_title">
                            <p>стоимость</p>
                            <img src="/img/arrow_violet.svg">
                        </div>
                        <div class="filter_block">
                            <div class="range_values">
                                <input type="hidden" class="min_input">
                                <input type="hidden" class="max_input">
                                <p><span class="min">{{budget_current_min}}</span> тг</p>
                                <p><span class="max">{{budget_current_max}}</span> тг</p>
                            </div>
                            <div class="price_range"></div>
                            <vue-slider v-model="budget_value" :max="500000" :tooltip="'none'" ref="budget_slider" @change="budgetChange()"></vue-slider>
                            <input type="hidden" class="first_input" :value="budget_current_min">
                            <input type="hidden" class="second_input" :value="budget_current_max">
                        </div>
                    </div>
                    <!--                    <div class="dropdown_filter">-->
                    <!--                        <div class="filter_title">-->
                    <!--                            <p>время отправления и прибытия</p>-->
                    <!--                            <img src="/img/arrow_violet.svg">-->
                    <!--                        </div>-->
                    <!--                        <div class="filter_block">-->
                    <!--                            <div class="range_row">-->
                    <!--                                <img src="/img/start.svg">-->
                    <!--                                <div class="item">-->
                    <!--                                    <div class="range_values">-->
                    <!--                                        <input type="hidden" class="min_input">-->
                    <!--                                        <input type="hidden" class="max_input">-->
                    <!--                                        <p><span class="min">00:00</span></p>-->
                    <!--                                        <p><span class="max">00:00</span></p>-->
                    <!--                                    </div>-->
                    <!--                                    <div class="time_range"></div>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                            <div class="range_row">-->
                    <!--                                <img src="/img/finish.svg">-->
                    <!--                                <div class="item">-->
                    <!--                                    <div class="range_values">-->
                    <!--                                        <input type="hidden" class="min_input">-->
                    <!--                                        <input type="hidden" class="max_input">-->
                    <!--                                        <p><span class="min">00:00</span></p>-->
                    <!--                                        <p><span class="max">00:00</span></p>-->
                    <!--                                    </div>-->
                    <!--                                    <div class="time_range"></div>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="dropdown_filter">-->
                    <!--                        <div class="filter_title">-->
                    <!--                            <p>аэропорты</p>-->
                    <!--                            <img src="/img/arrow_violet.svg">-->
                    <!--                        </div>-->
                    <!--                        <div class="filter_block">-->
                    <!--                            <p class="checkbox_group_title">аэропорты в Алматы, вылет 18 Сен.</p>-->

                    <!--                            <input type="checkbox" id="checkbox4">-->
                    <!--                            <label for="checkbox4">-->
                    <!--                                <p class="type">Алматы</p>-->
                    <!--                                <p class="price">от 4193 тг</p>-->
                    <!--                            </label>-->
                    <!--                            <input type="checkbox" id="checkbox5">-->
                    <!--                            <label for="checkbox5">-->
                    <!--                                <p class="type">2 пересадки</p>-->
                    <!--                                <p class="price">от 4193 тг</p>-->
                    <!--                            </label>-->
                    <!--                            <input type="checkbox" id="checkbox6">-->
                    <!--                            <label for="checkbox6">-->
                    <!--                                <p class="type">3 пересадки</p>-->
                    <!--                                <p class="price">от 4193 тг</p>-->
                    <!--                            </label>-->
                    <!--                        </div>-->
                    <!--                        <div class="filter_block">-->
                    <!--                            <p class="checkbox_group_title">аэропорты в Торонто, прибытие 19 Сен.</p>-->

                    <!--                            <input type="checkbox" id="checkbox4">-->
                    <!--                            <label for="checkbox4">-->
                    <!--                                <p class="type">Алматы</p>-->
                    <!--                                <p class="price">от 4193 тг</p>-->
                    <!--                            </label>-->
                    <!--                            <input type="checkbox" id="checkbox5">-->
                    <!--                            <label for="checkbox5">-->
                    <!--                                <p class="type">2 пересадки</p>-->
                    <!--                                <p class="price">от 4193 тг</p>-->
                    <!--                            </label>-->
                    <!--                            <input type="checkbox" id="checkbox6">-->
                    <!--                            <label for="checkbox6">-->
                    <!--                                <p class="type">3 пересадки</p>-->
                    <!--                                <p class="price">от 4193 тг</p>-->
                    <!--                            </label>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <div class="dropdown_filter">
                        <div class="filter_title">
                            <p>авиакомпании</p>
                            <img src="/img/arrow_violet.svg">
                        </div>
                        <div class="filter_block" v-if="gds" v-for="gd, key in gds">
                            <input
                                type="checkbox"
                                v-model="searchTypeList[key]"
                                v-bind:id="key"
                                :false-value=null
                            />
                            <!--                            v-if="key < 2"-->
                            <!--                            <label :for="key" v-if="key < 2">-->
                            <label :for="key">
                                <p class="type">{{gd}}</p>
                            </label>

                            <!--                            <div class="more_checkboxes" v-if="key >= 2">-->
                            <!--                                <input-->
                            <!--                                    type="checkbox"-->
                            <!--                                    v-model="searchTypeList[key]"-->
                            <!--                                    v-bind:id="key"-->
                            <!--                                    :false-value=null-->
                            <!--                                />-->
                            <!--                                <label :for="key">-->
                            <!--                                    <p class="type">{{gd}} - {{key}}</p>-->
                            <!--                                </label>-->
                            <!--                            </div>-->
                            <!--                            <a href="javascript:void(0);" v-if="key == 2" class="load_more_btn">Показать все</a>-->
                        </div>
                    </div>

                    <!--                    <div class="dropdown_filter">-->
                    <!--                        <div class="filter_title">-->
                    <!--                            <p>город пересадки</p>-->
                    <!--                            <img src="/img/arrow_violet.svg">-->
                    <!--                        </div>-->
                    <!--                        <div class="filter_block">-->
                    <!--                            <input type="checkbox" id="checkbox15">-->
                    <!--                            <label for="checkbox15">-->
                    <!--                                <p class="type">все</p>-->
                    <!--                            </label>-->
                    <!--                            <input type="checkbox" id="checkbox16">-->
                    <!--                            <label for="checkbox16">-->
                    <!--                                <p class="type">Абу Даби</p>-->
                    <!--                            </label>-->
                    <!--                            <input type="checkbox" id="checkbox17">-->
                    <!--                            <label for="checkbox17">-->
                    <!--                                <p class="type">Лондон</p>-->
                    <!--                            </label>-->
                    <!--                            <div class="more_checkboxes">-->
                    <!--                                <input type="checkbox" id="checkbox18">-->
                    <!--                                <label for="checkbox18">-->
                    <!--                                    <p class="type">Ташкент</p>-->
                    <!--                                </label>-->
                    <!--                                <input type="checkbox" id="checkbox19">-->
                    <!--                                <label for="checkbox19">-->
                    <!--                                    <p class="type">Астана</p>-->
                    <!--                                </label>-->
                    <!--                            </div>-->
                    <!--                            <a href="javascript:void(0);" class="load_more_btn">Показать все</a>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <button type="button" class="reset_btn" >-->
                    <!--                        <p>сбросить все фильтры</p>-->
                    <!--                        <img src="/img/close_violet.svg">-->
                    <!--                    </button>-->

                    <router-link :to="{query: { filter: [routefiltr],  search_type: this.$route.query.search_type, from_input: this.$route.query.from_input,
                    to_input: this.$route.query.to_input, beginning: this.$route.query.beginning, end: this.$route.query.end,
                    adults: this.$route.query.adults, child: this.$route.query.child, baby: this.$route.query.baby, price_type: this.$route.query.price_type} }">
                        <button type="button" class="reset_btn" v-on:click="reset_btn"><p>сбросить все фильтры</p><img src="/img/close_violet.svg"></button>
                    </router-link>
                    <router-link :to="{query: { filter: [routefiltr], search_type: this.$route.query.search_type, from_input: this.$route.query.from_input,
                    to_input: this.$route.query.to_input, beginning: this.$route.query.beginning, end: this.$route.query.end,
                    adults: this.$route.query.adults, child: this.$route.query.child, baby: this.$route.query.baby, price_type: this.$route.query.price_type} }">
                        <button class="submit_btn" style="background: #FFCE09; padding-top: 22px;" v-on:click="fillter_route">Применить</button>
                    </router-link>
                </form>
                <div class="main_block">
                    <!--                    <div class="result_header">-->
                    <!--                        <div class="result_title">-->
                    <!--                            <img src="/img/available.svg">-->
                    <!--                            цены на соседние даты-->
                    <!--                        </div>-->
                    <!--                        <div class="header_list">-->
                    <!--                            <div class="item">-->
                    <!--                                от 4193 тг<br>-->
                    <!--                                17 Сен. Ср.-->
                    <!--                            </div>-->
                    <!--                            <div class="item">-->
                    <!--                                от 4193 тг<br>-->
                    <!--                                18 Сен. Ср.-->
                    <!--                            </div>-->
                    <!--                            <div class="item active">-->
                    <!--                                от 4193 тг<br>-->
                    <!--                                19 Сен. Ср.-->
                    <!--                            </div>-->
                    <!--                            <div class="item">-->
                    <!--                                от 4193 тг<br>-->
                    <!--                                20 Сен. Ср.-->
                    <!--                            </div>-->

                    <!--                        </div>-->
                    <!--                        <button type="button" class="show_more" v-on:click="toggle">-->
                    <!--                            Подробнее-->
                    <!--                            <img src="/img/arrow.svg">-->
                    <!--                        </button>-->
                    <!--                    </div>-->
                    <!--                    <div class="best_results">-->
                    <!--                        <div class="item">-->
                    <!--                            выгодные от 470 000 тг-->
                    <!--                        </div>-->
                    <!--                        <div class="item">-->
                    <!--                            быстрые от 16 ч 45 м-->
                    <!--                        </div>-->
                    <!--                        <div class="item active">-->
                    <!--                            хорошие от 520 000 тг-->
                    <!--                        </div>-->
                    <!--                        <div class="item">-->
                    <!--                            все 116 вариантов-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <div class="result_body">
                        <div class="loader" v-show="loader"><img :src="'/img/preloader-upload.svg'"></div>
                        <div class="loader" v-show="loader_massage">Запрос привышен, повторите попытку</div>
                        <div v-for="offer in offers">
                            <div v-for="ofr in offer.offers" >
                                <div class="air_item" v-for="segment in ofr.segments" v-if="(data_filter_loaded.includes(segment.flights_info[0].operating_airline_name) || data_filter_loaded.length == 0) && segment.buy_id && segment.price >= budget_current_min && segment.price <= budget_current_max ">
                                    <div class="air_desc from_to" v-if="!ofr.segments[0].buy_id">
                                        <div class="air_logo" v-if="offer.carrier_logo">
                                            <img :src="offer.carrier_logo">
                                        </div>
                                        <div class="desc_row">
                                            <div class="start air_date" v-if="ofr.segments[0].departure_time && directions[0].departure_name">
                                                <h4>{{ofr.segments[0].departure_time.substring(0,5)}}</h4>
                                                <h5>{{directions[0].departure_name}}</h5>
                                            </div>
                                            <div class="route_info">
                                                <p class="first_route_date">{{ofr.segments[0].departure_date}}</p>
                                                <div class="route_row" v-if="ofr.segments[0].flights_info">
                                                    <h4 v-for="segm in ofr.segments[0].flights_info">{{segm.departure_airport}}</h4>
                                                    <h4 v-if="ofr.segments[0].arrival_airport">{{ofr.segments[0].arrival_airport}}</h4>
                                                </div>
                                                <p class="second_route_date">{{ofr.segments[0].arrival_date}}</p>
                                            </div>
                                            <div class="end_air_date air_date" v-if="ofr.segments[0].arrival_time && directions[0].arrival_name">
                                                <h4>{{ofr.segments[0].arrival_time.substring(0, 5)}}</h4>
                                                <h5>{{directions[0].arrival_name}}</h5>
                                            </div>
                                        </div>
                                        <button class="air_read_more hidden" @click="toggle()" type="button"></button>
                                        <div class="more_route_info">
                                            <div class="flex_row">
                                                <div class="time_column">
                                                    <div class="time_item" v-if="ofr.segments[0].flights_info">
                                                        <h4 v-for="(segm, k_y) in ofr.segments[0].flights_info">{{segm.duration_formated}}</h4>
                                                    </div>
                                                </div>
                                                <div class="route_desc_column">
                                                    <div v-for="(segm, k_y) in ofr.segments[0].flights_info">
                                                        <p class="note" v-if="k_y > 0">пересадка {{ofr.segments[0].flights_info[k_y-1].stop_time}} в {{ofr.segments[0].flights_info[k_y-1].departure_city}}</p>
                                                        <h4 class="route_item_mobile">{{ofr.segments[0].flights_info[k_y].departure_local_time}}</h4>
                                                        <div class="route_item">
                                                            <div class="route_left">
                                                                <h4>{{segm.departure_local_time}} {{segm.departure_airport}} {{segm.departure_city}}</h4>
                                                                <h4>{{segm.arrival_local_time}} {{segm.arrival_airport}} {{segm.arrival_city}}</h4>
                                                            </div>
                                                            <div class="route_right">
                                                                <img :src="segm.operating_airline_logo" class="logo">
                                                                <p>{{segm.departure_city}}<br>
                                                                    {{segm.airplane_code}}<br>
                                                                    {{segm.airplane_name}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="air_desc">
                                        <div class="air_logo" v-if="offer.carrier_logo">
                                            <img :src="offer.carrier_logo">
                                        </div>
                                        <div class="desc_row">
                                            <div class="start air_date" v-if="segment.departure_time && directions[0].departure_name">
                                                <h4>{{segment.departure_time.substring(0,5)}}</h4>
                                                <h5>{{directions[0].departure_name}}</h5>
                                            </div>
                                            <div class="route_info">
                                                <p class="first_route_date">{{segment.departure_date}}</p>
                                                <div class="route_row" v-if="segment.flights_info">
                                                    <h4 v-for="segm in segment.flights_info">{{segm.departure_airport}}</h4>
                                                    <h4 v-if="segment.arrival_airport">{{segment.arrival_airport}}</h4>
                                                </div>
                                                <p class="second_route_date">{{segment.arrival_date}}</p>
                                            </div>
                                            <div class="end_air_date air_date" v-if="segment.arrival_time && directions[0].arrival_name">
                                                <h4>{{segment.arrival_time.substring(0, 5)}}</h4>
                                                <h5>{{directions[0].arrival_name}}</h5>
                                            </div>
                                        </div>
                                        <button class="air_read_more hidden" @click="toggle()" type="button"></button>
                                        <div class="more_route_info">
                                            <div class="flex_row">
                                                <div class="time_column">
                                                    <div class="time_item" v-if="segment.flights_info">
                                                        <h4 v-for="(segm, k_y) in segment.flights_info">{{segm.duration_formated}}</h4>
                                                    </div>
                                                </div>
                                                <div class="route_desc_column">
                                                    <div v-for="(segm, k_y) in segment.flights_info">
                                                        <p class="note" v-if="k_y > 0">пересадка {{segment.flights_info[k_y-1].stop_time}} в {{segment.flights_info[k_y-1].departure_city}}</p>
                                                        <h4 class="route_item_mobile">{{segment.flights_info[k_y].departure_local_time}}</h4>
                                                        <div class="route_item">
                                                            <div class="route_left">
                                                                <h4>{{segm.departure_local_time}} {{segm.departure_airport}} {{segm.departure_city}}</h4>
                                                                <h4>{{segm.arrival_local_time}} {{segm.arrival_airport}} {{segm.arrival_city}}</h4>
                                                            </div>
                                                            <div class="route_right">
                                                                <img :src="segm.operating_airline_logo" class="logo">
                                                                <p>{{segm.departure_city}}<br>
                                                                    {{segm.airplane_code}}<br>
                                                                    {{segm.airplane_name}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="air_price">
                                        <h4>{{segment.price}} тг</h4>
                                        <button v-on:click="buy(segment.buy_id, request_id, directions[0].departure_country, segment, directions)">купить</button>
                                        <div style="text-align: left;">
<!--                                            <p v-for="price_detail in segment.price_details">{{price_detail.type}}: {{price_detail.qty}} - {{(price_detail.base_amount+price_detail.tax_amount)*price_detail.qty}} тенге</p>-->
                                            <p v-for="price_detail in segment.price_details">{{price_detail.type}}: {{price_detail.qty}} чел</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>


<script>
    import 'vue-slider-component/theme/default.css'
    import VueSlider from 'vue-slider-component'
    export default {
        data() {
            return {
                passengers: 0,
                from_to: '',
                from_to_action: false,
                cities: [],
                offers: [],
                request_id: [],
                gds: [],
                data_filter: [],
                getfilter: [],
                data_filter_loaded: [],
                directions: [],
                routefiltr: [],
                searchTypeList: [],
                loader: true,
                loader_massage: false,
                i: 0,
                k: 0,
                departure_country: 'RU',
                budget_value: [0, 500000],
                budget_current_min: 0,
                budget_current_max: 500000,
            }
        },
        components: {
            VueSlider
        },
        methods: {
            budgetChange: function(){
                let curIndex =  this.$refs.budget_slider.getValue();
                this.budget_current_min = curIndex[0];
                this.budget_current_max = curIndex[1];
            },
            toggle: function(){
                if(event.target.className == "air_read_more hidden")
                {
                    event.target.className = "air_read_more active";
                }
                else
                {
                    event.target.className = "air_read_more hidden";
                }
            },

            update: function () {
                this.i = 0;
                this.offers = [];
                var searchTypeList = [];
                let search_type = this.$route.query.search_type;
                let from_input = this.$route.query.from_input;
                let to_input = this.$route.query.to_input;
                let beginning = this.$route.query.beginning;
                let end = this.$route.query.end;
                let adults = this.$route.query.adults;
                let child = this.$route.query.child;
                let baby = this.$route.query.baby;
                let price_type = this.$route.query.price_type;

                var passengers = this.passengers
                if(adults){passengers = +passengers + +adults}
                if(child){passengers = +passengers + +child}
                if(baby){passengers = +passengers + +baby}
                this.passengers = passengers;

                if (search_type &&  from_input && to_input && beginning && adults){
                    axios.post('/ajax-air-tickets/',{search_type,from_input,to_input,beginning,end,adults,child,baby,price_type}).then((response) => {
                        this.request_id = response.data.request_id;
                        this.postAjaxSearchResult();
                    }).catch(error => console.log(error));
                }
            },
            fillter_route: function (event) {
                var searchTypeList = this.searchTypeList;
                var arr = [];
                let numCallbackRuns = 0;
                searchTypeList.forEach(function (element, key) {
                    numCallbackRuns++;
                    if (element) {
                        arr.push(key);
                    }
                });
                this.routefiltr = arr;
                this.update();
            },
            postAjaxSearchResult: function () {
                var request_id = this.request_id;
                this.loader = true;

                axios.post('/postAjaxSearchResult/', {request_id}).then((response) => {
                    if(response.data.status == 'on'){
                        this.loader = false;
                        this.directions = response.data.directions;
                        var gds = [];
                        response.data.offers.forEach(function(offer){
                            offer.offers.forEach(function(ofr){
                                ofr.segments.forEach(function(segment){
                                    if(segment.buy_id){
                                        gds.push(segment.flights_info[0].operating_airline_name);

                                    }
                                });
                            });
                        });
                        this.gds = this.uniq(gds);

                        var searchTypeList = this.gds ;
                        if (this.$route.query.filter) {
                            var data_filter_loaded = [];
                            var searchTypeList = [];
                            var getfilter = this.$route.query.filter;
                            if(Array.isArray(this.$route.query.filter)){
                                this.getfilter = getfilter[0].join();
                            }else{
                                getfilter = getfilter.split(',');
                            }
                            getfilter = this.unique(this.getfilter);
                            gds = this.gds;
                            getfilter.forEach(function (el) {
                                data_filter_loaded.push(gds[el]);
                                searchTypeList[el] = true
                            });
                            this.data_filter_loaded = data_filter_loaded;
                        }
                        this.offers = response.data.offers;
                    }else{
                        this.i++;
                        if(this.i<5){setTimeout(this.postAjaxSearchResult, 2000);}else{this.loader_massage = true; this.loader = false}
                    }
                    this.request_id = response.data.request_id;
                    // this.etm_auth_key = response.data.etm_auth_key;
                }).catch(error => console.log(error));
            },
            reset_btn() {
                this.cities=[];
                this.offers= [];
                this.request_id= [];
                this.gds= [];
                this.data_filter= [];
                this.getfilter= [];
                this.data_filter_loaded= [];
                this.directions= [];
                this.routefiltr= [];
                this.searchTypeList= [];
                this.loader= true;
                this.loader_massage= false;
                this.i= 0;
                this.k= 0;
                this.budget_current_min
                    = 500000;
                this.budget_current_min= 0;
                this.update();
            },
            uniq(a) {
                let r = {};
                return a.filter(i=>i in r?!1:r[i]=!0)
            },
            unique(arr) {
                let result = [];
                for (let str of arr) {
                    if (!result.includes(str)) {
                        result.push(str);
                    }
                }
                return result;
            },
            buy(buy_id, request_id, departure_country, segment, directions) {
                this.adults = this.$route.query.adults;
                this.child = this.$route.query.child;
                this.baby = this.$route.query.baby;
                this.buy_id = buy_id;
                this.request_id = request_id;
                this.departure_country = departure_country;
                axios.post('/postAjaxTickets/', {segment, request_id, directions}).then((response) => {
                    window.location.href = '/air/tickets/buy/?buy_id='+this.buy_id+'&request_id='+this.request_id+'&departure_country='+this.departure_country+'&passengers='+this.passengers+'&adults='+this.adults+'&child='+this.child+'&baby='+this.baby;
                });
            }
            // sortedItems (buy_id, segment) {
            //     // console.log(segment);
            //     // if (!buy_id && !segment) {
            //     //     console.log('segment');
            //     //     return false;
            //     // }
            //     if (!buy_id && segment) {
            //         this.from_to = segment;
            //         this.from_to_action = true;
            //         return true;
            //     }
            //     return false;
            // }
        },
        computed: {
            segmentitems: function (buy_id, segment) {
                // console.log(segment);
                if (!buy_id && segment) {
                    this.from_to = segment;
                    this.from_to_action = true;
                    return true;
                }

                // if (!this.segment.buy_id) {
                //     this.from_to = segment;
                //     this.from_to_action = true;
                //     return true;
                // }
                return false;
            }
        },
        async mounted() {
            await this.update();
        }
    }
</script>
