<template>
    <form class="publish_block" action="" method="get">
        <div class="steps">
            <div class="step active"></div>
            <div class="step"></div>
            <div class="step"></div>
            <div class="step"></div>
            <div class="step"></div>
            <div class="step"></div>
        </div>
        <div class="publish_block_content choose_advert first active" data-tab="1">
            <h3>Choose Advert</h3>
            <div class="advert_type">
                <a href="#" class="for_sale">For Sale</a>
                <a href="#" class="wanted">Wanted</a>
                <input type="hidden" id="advert" name="advert" value="">
            </div>
        </div>
<!--        <div class="publish_block_content choose_vehicle_block" data-tab="2">-->
<!--            <h3>Choose Vehicle</h3>-->
<!--            <div class="categories_row choose_vehicle">-->
<!--                <a href="#" class="item" v-for="category in categories" :data-vehicle="category.cat_id">-->
<!--                    <img :src="'img/categories/'+category.img">-->
<!--                    <h4>{{category.title}}</h4>-->
<!--                </a>-->
<!--                <input type="hidden" id="vehicle" name="vehicle" value="">-->
<!--            </div>-->
<!--        </div>-->
        <div class="publish_block_content choose_vehicle_block" data-tab="2">
            <h3>Choose Vehicle</h3>
            <div class="categories_row choose_vehicle">
                <a href="#" class="item" v-for="category in categories" :data-vehicle="category.cat_id">
                    <img :src="'img/categories/'+category.img">
                    <h4>{{category.title}}</h4>
                </a>
                <input type="hidden" id="vehicle" name="vehicle" value="">
            </div>
        </div>
<!--        <div class="publish_block_content choose_vehicle_block" data-tab="3">-->
<!--            <h3>Choose Vehicle 3</h3>-->
<!--            <div class="info_list">-->
<!--&lt;!&ndash;                <div class="item" v-for="mak in make">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="option">&ndash;&gt;-->
<!--&lt;!&ndash;                        <img :src="'img/filter/'+mak.img">&ndash;&gt;-->
<!--&lt;!&ndash;                        {{mak.filter_name}}&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="value">&ndash;&gt;-->
<!--&lt;!&ndash;                        <select style="width: 100px" :name="'make['+mak.filter_id+']'">&ndash;&gt;-->
<!--&lt;!&ndash;                            <option v-for="option in mak.options" :value="option.opt_id">{{option.opt_name}}</option>&ndash;&gt;-->
<!--&lt;!&ndash;                        </select>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--            </div>-->
<!--            <div class="categories_row choose_vehicle">-->
<!--                &lt;!&ndash;                @foreach($categories as $category)&ndash;&gt;-->
<!--                &lt;!&ndash;                <a href="#" class="item" data-vehicle="{{$category->cat_id}}">&ndash;&gt;-->
<!--                &lt;!&ndash;                    <img src="img/categories/{{$category->img}}">&ndash;&gt;-->
<!--                &lt;!&ndash;                    <h4>{{$category->title}}</h4>&ndash;&gt;-->
<!--                &lt;!&ndash;                </a>&ndash;&gt;-->
<!--                &lt;!&ndash;                @endforeach&ndash;&gt;-->
<!--                <input type="hidden" id="syb_vehicle" name="syb_vehicle" value="">-->
<!--            </div>-->
<!--        </div>-->
        <div class="publish_block_content product_details" data-tab="3">
            <h3>Advert Details</h3>
            <div class="find_num">
                <h4>Enter Vehicle Registration</h4>
                <p>optional to auto fill your vehicle details</p>
                <div class="error3" style="color: red;"></div>
                <div class="input">
                    <img src="img/flag.svg">
                    <input id="advert_number" name="advert_number" type="text" placeholder="eg 08D12345">
                </div>
                <button class="submit_btn">Find</button>
            </div>
            <div class="input_row">
                <div class="input_item">
                    <div class="input_title">
                        <p>Advert Title</p>
                    </div>
                    <div class="input_block">
                        <input id="advert_title" name="advert_title" type="text" placeholder="Advert title">
                    </div>
                </div>
                <div class="input_item">
                    <div class="input_title">
                        <p>Advert Price</p>
                        <div class="select_block">
                            <div class="select_title dropdown_title">
                                <span>Euro</span>
                                <div class="select_arrow">
                                    <img src="img/arrow_yellow.svg">
                                </div>
                            </div>
                            <div class="select_list dropdown_block">
                                <div class="dropdown_item">Dollar</div>
                                <div class="dropdown_item">Euro</div>
                                <div class="dropdown_item">Ruble</div>
                            </div>
                            <input type="hidden">
                        </div>
                    </div>
                    <div class="input_block">
                        <input id="advert_price" name="advert_price" type="text" placeholder="Advert Price">
                    </div>
                </div>
                <div class="input_item full">
                    <div class="input_title">
                        <p>Advert Description</p>
                    </div>
                    <div class="input_block">
                        <textarea id="advert_description" name="advert_description" placeholder="Full description including as much detail as possible about what you’re selling..."></textarea>
                    </div>
                </div>
                <div class="gallery">
                    <div class="main_img_upload">
                        <p>Add main picture</p>
                        <div class="upload_block">
                            <div class="upload_header">
                                <img src="img/logo.svg">
                            </div>
                            <div class="upload_content">
                                <img src="img/plus.svg" class="plus_icon">
                                <h4>Add Main Picture</h4>
                            </div>
                            <input type="file"  accept="image/*" name="image" class="file">
                            <img src="" class="main_img" alt="">
                            <div class="clear">
                                <img src="img/cancel2.svg">
                            </div>
                        </div>
                    </div>
                    <div class="other_img_upload">
                        <h4>Add more pictures</h4>
                        <div class="gallery_row">
                            <div class="gallery_item">
                                <img src="" class="main_img" alt="">
                                <img src="img/plus.svg" class="icon">
                                <input type="file"  accept="image/*" name="image" class="file">
                                <div class="clear">
                                    <img src="img/cancel2.svg">
                                </div>
                            </div>
                            <div class="gallery_item">
                                <img src="" class="main_img" alt="">
                                <img src="img/plus.svg" class="icon">
                                <input type="file"  accept="image/*" name="image" class="file">
                                <div class="clear">
                                    <img src="img/cancel2.svg">
                                </div>
                            </div>
                            <div class="gallery_item">
                                <img src="" class="main_img" alt="">
                                <img src="img/plus.svg" class="icon">
                                <input type="file"  accept="image/*" name="image" class="file">
                                <div class="clear">
                                    <img src="img/cancel2.svg">
                                </div>
                            </div>
                            <div class="gallery_item">
                                <img src="" class="main_img" alt="">
                                <img src="img/plus.svg" class="icon">
                                <input type="file"  accept="image/*" name="image" class="file">
                                <div class="clear">
                                    <img src="img/cancel2.svg">
                                </div>
                            </div>
                            <div class="gallery_item">
                                <img src="" class="main_img" alt="">
                                <img src="img/plus.svg" class="icon">
                                <input type="file"  accept="image/*" name="image" class="file">
                                <div class="clear">
                                    <img src="img/cancel2.svg">
                                </div>
                            </div>
                            <div class="gallery_item">
                                <img src="" class="main_img" alt="">
                                <img src="img/plus.svg" class="icon">
                                <input type="file"  accept="image/*" name="image" class="file">
                                <div class="clear">
                                    <img src="img/cancel2.svg">
                                </div>
                            </div>
                            <div class="gallery_item">
                                <img src="" class="main_img" alt="">
                                <img src="img/plus.svg" class="icon">
                                <input type="file"  accept="image/*" name="image" class="file">
                                <div class="clear">
                                    <img src="img/cancel2.svg">
                                </div>
                            </div>
                            <div class="gallery_item">
                                <img src="" class="main_img" alt="">
                                <img src="img/plus.svg" class="icon">
                                <input type="file"  accept="image/*" name="image" class="file">
                                <div class="clear">
                                    <img src="img/cancel2.svg">
                                </div>
                            </div>
                        </div>

                    </div>
                    <p class="gallery_comment">
                        Accepted picture types: JPG, PNG, GIF<br>
                        Max file size 300MB
                    </p>
                </div>
                <button id="next" type="button" class="next_btn">Next</button>
            </div>
        </div>
        <div class="publish_block_content contact_details" data-tab="4">
            <h3>Contact Details</h3>
            <div class="error4" style="color: red;text-align: center;"></div>
            <div class="login_details">
                <p>Logged in as: Casso55</p>
                <button type="button" class="login_btn">Use login details</button>
            </div>
            <div class="input_row">
                <div class="input_item">
                    <div class="input_title">
                        <p>Name</p>
                    </div>
                    <div class="input_block">
                        <input id="contact_name" name="contact_name" type="text" placeholder="Name">
                    </div>
                </div>
                <div class="input_item">
                    <div class="input_title">
                        <p>Country</p>
                    </div>
                    <div class="input_block">
                        <input id="contact_country" name="contact_country" type="text" placeholder="Country">
                    </div>
                </div>
                <div class="input_item">
                    <div class="input_title">
                        <p>Phone</p>
                    </div>
                    <div class="input_block">
                        <input id="contact_phone" name="contact_phone" type="text" placeholder="Phone">
                    </div>
                </div>
                <div class="input_item">
                    <div class="input_title">
                        <p>Nearest Town</p>
                    </div>
                    <div class="input_block">
                        <input id="contact_town" name="contact_town" type="text" placeholder="Nearest Town">
                    </div>
                </div>
            </div>
            <div class="checkbox_details">
                <div class="checkbox">
                    <p>Allow contact by messenger</p>
                    <input id="allow_messenger" name="allow_messenger" type="checkbox">
                    <div class="checkbox_item"></div>
                </div>
                <div class="checkbox">
                    <p>Allow contact by phone</p>
                    <input id="allow_phone" name="allow_phone" type="checkbox">
                    <div class="checkbox_item"></div>
                </div>
                <div class="checkbox">
                    <p>General Vat receipt</p>
                    <input id="allow_receipt" name="allow_receipt" type="checkbox">
                    <div class="checkbox_item"></div>
                </div>
            </div>
            <button type="button" class="next_btn clear_btn">clear all</button>
            <button type="button" class="next_btn">Next</button>
        </div>
        <div class="publish_block_content product_details" data-tab="5">
            <h3>Preview advert</h3>
            <div class="main_product_item product_item ad_preview">
                <div class="product_header">
                    <div class="photos">
                        <img src="img/camera.svg">
                        <p><span class="current">1</span>/<span class="total">8</span></p>
                    </div>
                </div>
                <div class="product_images">
                    <button class="flickity-button flickity-prev-next-button previous" type="button" aria-label="Previous"><svg class="flickity-button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path></svg></button>
                    <button class="flickity-button flickity-prev-next-button next" type="button" aria-label="Next"><svg class="flickity-button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg></button>
                    <div class="carousel">
                        <img src="img/product_img3.jpg">
                        <img src="img/product_img4.jpg">
                        <img src="img/product_img5.jpg">

                    </div>
                    <div class="btns">
                        <a href="#" class="favourite">
                            <img src="img/heart.svg">
                        </a>
                        <h4>$7400</h4>
                        <a href="#" class="exchange">
                            <img src="img/exchange.svg">
                        </a>
                    </div>
                </div>
                <div class="product_brand">
                    <img src="img/product_brand.svg">
                </div>
                <div class="product_info">
                    <div class="product_desc">
                        <h3>Peugot 308</h3>
                        <p class="date">2014</p>
                        <div class="info_row">
                            1.8 Petrol • 96,000 klm  •  1 hour  •  Westmeath
                        </div>
                    </div>
                    <div class="product_btns">
                        <div class="btn">
                            <p>Share</p>
                            <div class="icons">
                                <a href="#">
                                    <img src="img/fb_gray.svg">
                                </a>
                                <a href="#">
                                    <img src="img/wa_gray.svg">
                                </a>
                                <a href="#">
                                    <img src="img/link_gray.svg">
                                </a>
                            </div>
                        </div>
                        <a href="#" class="btn">
                            Reviews
                            <div class="icons">
                                <img src="img/rating.svg" class="icon">
                            </div>
                        </a>
                        <a href="#" class="btn yellow">
                            Full History Check
                        </a>
                    </div>
                </div>


                <div class="description"></div>

            </div>
            <div class="preview_btn">
                <button type="button" class="next_btn">Place Advert</button>
                <p>By choosing ‘PLACE ADVERT’ you are
                    choosing to agree to the GOsee<br>
                    <a href="#">Terms and conditions</a></p>
            </div>
        </div>
        <div class="publish_block_content payment_type" data-tab="6">
            <h3>Preview advert</h3>
            <div class="payments_row">
                <a href="#" class="payment_item">
                    <h4>Paypal</h4>
                    <img src="img/paypal.svg">
                </a>
                <a href="#" class="payment_item">
                    <h4>Credit / Debit Card</h4>
                    <img src="img/credit-card.svg">
                </a>
            </div>
            <button type="submit" class="last_btn next_btn">Pay now</button>
        </div>
        <div class="publish_block_content success_block" data-tab="7">
            <img src="img/hand.svg">
            <h4>High five!</h4>
            <p>Your advert has been placed!
                click on the view my advert button below,
                or view it anytime from your profile menu.
                Sound out!</p>
            <a href="#" class="last_btn">View my advert</a>
        </div>
    </form>
</template>

<script>
    export default {
        props: [
            'route'
        ],
        data(){
            return {
                make: [],
                categories: [],
                cat_id: 1
            }
        },
        methods:{
            update: function () {
                var cat_id = this.cat_id
                    axios.post('/ajax/getSell', {cat_id}).then((response) => {
                    this.make = response.data.make;
                    this.categories = response.data.categories;
                }).catch(error => console.log(error));
            }
        },
        mounted() {
            this.update();
        },
    }
</script>



