@-ms-viewport {
  width: device-width;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}
.more_z {
  z-index: 51;
}
.more_z2 {
  z-index: 50;
}
.more_z3 {
  z-index: 49;
}
.more_z4 {
  z-index: 48;
}
.more_z5 {
  z-index: 47;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Semibold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-ExtraBold.ttf');
  font-weight: 800;
}
img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
.text_hide {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0 40px;
}
.section_title {
  text-align: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 2.5px;
  font-size: 30px;
  line-height: 1.4;
  text-transform: uppercase;
}
.show_md {
  display: block;
}
/* Global styles */
* {
  margin: 0;
  padding: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
.mb-0 {
  margin-bottom: 0!important;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
input,
input::-webkit-input-placeholder,
textarea,
button,
textarea::-webkit-input-placeholder {
  font-family: Montserrat;
  border: none;
  outline: none;
}
input,
input::-moz-placeholder,
textarea,
button,
textarea::-moz-placeholder {
  font-family: Montserrat;
  border: none;
  outline: none;
}
input,
input:-ms-input-placeholder,
textarea,
button,
textarea:-ms-input-placeholder {
  font-family: Montserrat;
  border: none;
  outline: none;
}
input,
input::-ms-input-placeholder,
textarea,
button,
textarea::-ms-input-placeholder {
  font-family: Montserrat;
  border: none;
  outline: none;
}
input,
input::placeholder,
textarea,
button,
textarea::placeholder {
  font-family: Montserrat;
  border: none;
  outline: none;
}
input[type="submit"] {
  cursor: pointer;
}
body {
  font-family: Montserrat;
  font-weight: 500;
  color: #1A1A1A;
}
section {
  position: relative;
}
/* Mixins */
.flex_center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lrtb {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.btn {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #B8B8B8;
  -webkit-box-shadow: 0 2px 7px rgba(46, 13, 132, 0.2);
          box-shadow: 0 2px 7px rgba(46, 13, 132, 0.2);
  cursor: pointer;
  height: 50px;
}
button {
  cursor: pointer;
}
.taplink {
  background: url(../img/taplink/taplink_bg.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  height: 100vh;
}
.taplink:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
}
.taplink .taplink_container {
  position: relative;
  z-index: 30;
  margin: 0 auto;
  height: 100%;
  max-width: 640px;
  padding: 30px 37px;
  background: rgba(35, 31, 33, 0.2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.taplink .taplink_container .lokobonus {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}
.taplink .taplink_container .lokobonus h4 {
  font-weight: 500;
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}
.taplink .taplink_container .lokobonus a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  height: 35px;
  border: 1px solid #fff;
  -webkit-border-radius: 17.5px;
          border-radius: 17.5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
}
.taplink .taplink_container .lokobonus a:hover {
  background: #fff;
  color: #000;
}
.taplink .taplink_container .lokobonus a:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}
.taplink .taplink_container .lokobonus a img {
  margin-right: 14px;
  width: 30px;
}
.taplink .taplink_container .taplink_row {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.taplink .taplink_container .taplink_row .item {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
  margin-top: 50px;
}
.taplink .taplink_container .taplink_row .item .icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  width: 90px;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-bottom: 14px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.taplink .taplink_container .taplink_row .item .icon img {
  height: 50px;
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.taplink .taplink_container .taplink_row .item:hover .icon {
  background: #fff;
}
.taplink .taplink_container .taplink_row .item:hover .icon img {
  -webkit-filter: invert(1);
          filter: invert(1);
}
.taplink .taplink_container .taplink_row .item h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.taplink .taplink_container .taplink_row .item:nth-child(3n) {
  margin-right: 0;
}
@media (max-width: 600px) {
  .logo {
    margin-bottom: 10px;
  }
  .taplink {
    min-height: 100vh;
    height: auto;
  }
  .taplink .taplink_container {
    min-height: 100vh;
  }
  .taplink .taplink_container .lokobonus {
    margin-top: 30px;
  }
  .taplink .taplink_container .taplink_row .item {
    width: 50%;
    margin-top: 20px;
  }
  .taplink .taplink_container .taplink_row .item .icon {
    height: 70px;
    width: 70px;
  }
  .taplink .taplink_container .taplink_row .item .icon img {
    height: 35px;
    width: 35px;
  }
  .taplink .taplink_container .taplink_row .item h4 {
    padding: 0 5px;
    font-size: 16px;
  }
  .taplink .taplink_container .taplink_row .item br {
    display: none;
  }
  .taplink .taplink_container .lokobonus h4 {
    font-size: 16px;
  }
  .taplink .taplink_container {
    padding: 24px;
  }
}
