 //Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
 //Variables
@import 'variables';
 //Bootstrap
@import '~bootstrap/scss/bootstrap';


@import 'css/libs.css';
@import 'css/style.css';
@import 'css/media.css';

 .menu_block h4 {
     font-size: 12px;
     font-weight: 600;
 }
 footer {margin-top: 120px;}
