@-ms-viewport {
  width: device-width;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}
.more_z {
  z-index: 51;
}
.more_z2 {
  z-index: 50;
}
.more_z3 {
  z-index: 49;
}
.more_z4 {
  z-index: 48;
}
.more_z5 {
  z-index: 47;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Semibold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-ExtraBold.ttf');
  font-weight: 800;
}
img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
.text_hide {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0 40px;
}
.section_title {
  text-align: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 2.5px;
  font-size: 30px;
  line-height: 1.4;
  text-transform: uppercase;
}
.show_md {
  display: block;
}
/* Global styles */
* {
  margin: 0;
  padding: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
.mb-0 {
  margin-bottom: 0!important;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
input,
input::-webkit-input-placeholder,
textarea,
button,
textarea::-webkit-input-placeholder {
  font-family: Montserrat;
  border: none;
  outline: none;
}
input,
input::-moz-placeholder,
textarea,
button,
textarea::-moz-placeholder {
  font-family: Montserrat;
  border: none;
  outline: none;
}
input,
input:-ms-input-placeholder,
textarea,
button,
textarea:-ms-input-placeholder {
  font-family: Montserrat;
  border: none;
  outline: none;
}
input,
input::-ms-input-placeholder,
textarea,
button,
textarea::-ms-input-placeholder {
  font-family: Montserrat;
  border: none;
  outline: none;
}
input,
input::placeholder,
textarea,
button,
textarea::placeholder {
  font-family: Montserrat;
  border: none;
  outline: none;
}
input[type="submit"] {
  cursor: pointer;
}
body {
  font-family: Montserrat;
  font-weight: 500;
  color: #1A1A1A;
}
section {
  position: relative;
}
/* Mixins */
.flex_center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lrtb {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.btn {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #B8B8B8;
  -webkit-box-shadow: 0 2px 7px rgba(46, 13, 132, 0.2);
          box-shadow: 0 2px 7px rgba(46, 13, 132, 0.2);
  cursor: pointer;
  height: 50px;
}
button {
  cursor: pointer;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Fira Sans Medium'), local('FiraSans-Medium'), url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnZKvuQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'), url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnSKzuQQ.ttf) format('truetype');
}
.row {
  margin: 0;
  padding: 0 15px;
}
.section_title {
  font-size: 18px;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  text-transform: unset;
  letter-spacing: unset;
  font-weight: 500;
}
body {
  font-weight: 400;
}
.main_container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}
header {
  z-index: 30;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
header .socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
header .socials a {
  margin-left: 15px;
  font-size: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
}
header .socials a img {
  margin-right: 7px;
}
.banner {
  position: relative;
}
.banner .bg {
  width: 100%;
}
.banner .row {
  z-index: 30;
  position: absolute;
  left: 25px;
  bottom: 95px;
  right: 0;
}
.banner .row h2 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 23px;
  color: #1B0D60;
  line-height: 32px;
  font-weight: 600;
}
.banner .row h2 span {
  color: #fff;
}
.features {
  padding: 40px 0;
}
.features .section_title {
  color: #1B0D60;
  margin-bottom: 40px;
}
.features .row {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.features .feature_item {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 60px;
}
.features .feature_item img {
  margin-bottom: 23px;
}
.features .feature_item h4 {
  font-size: 14px;
  color: #231F21;
}
.cabinet .cabinet_title_block {
  position: relative;
}
.cabinet .cabinet_title_block img {
  width: 100%;
}
.cabinet .example {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 -4px 22px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -4px 22px rgba(0, 0, 0, 0.1);
}
.cabinet .cabinet_text {
  color: #1B0D60;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 140px;
}
.cabinet .cabinet_content {
  position: relative;
  z-index: 60;
  padding: 0 40px;
}
.cabinet .cabinet_title {
  color: #fff;
  text-align: center;
  padding: 24px 0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.cabinet .cabinet_title h2 {
  position: relative;
  z-index: 20;
  font-size: 18px;
  margin-bottom: 10px;
}
.cabinet .cabinet_title h3 {
  position: relative;
  z-index: 20;
  font-size: 14px;
}
footer {
  position: relative;
  background: #1B0D60;
  padding: 48px 0;
}
footer .footer_bg {
  position: absolute;
  bottom: 0;
  z-index: 40;
  width: 100%;
}
footer:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  top: -50px;
  -webkit-transform: skewY(-6deg);
      -ms-transform: skewY(-6deg);
          transform: skewY(-6deg);
  background: #1B0D60;
  height: 100%;
}
footer h2 {
  text-align: center;
  position: relative;
  z-index: 50;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
}
@media (max-width: 991px) {
  .banner .bg {
    height: 400px;
  }
}
@media (max-width: 767px) {
  .banner .row h2 br {
    display: none;
  }
  .cabinet .cabinet_title_block img {
    height: 160px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .cabinet .cabinet_title {
    width: 100%;
  }
  .cabinet .example {
    margin: 30px 0;
  }
  .cabinet .cabinet_text {
    margin-bottom: 100px;
  }
  .cabinet .cabinet_content {
    padding: 0 20px;
  }
  footer h2 {
    padding: 0 20px;
  }
  .banner .row {
    padding: 20px 0;
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    bottom: unset;
    background-color: #1B0D60;
    background-image: url(../img/corp/bg.png);
    -webkit-background-size: cover;
            background-size: cover;
    background-position: bottom center;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner .row h2 {
    padding: 0 20px;
    color: #fff;
  }
  .banner .bg {
    display: none;
  }
  header {
    position: relative;
  }
  header .row {
    padding: 15px;
    width: 100%;
  }
}
@media (max-width: 575px) {
  .socials span {
    display: none;
  }
  header .socials a img {
    margin-right: 0;
    height: 32px;
  }
  header .socials a {
    margin-left: 15px;
  }
  footer {
    padding: 32px 0;
  }
  footer:after {
    top: -30px;
  }
  .features .feature_item h4 br {
    display: none;
  }
  .features .feature_item {
    padding: 0 10px;
    margin-bottom: 30px;
  }
  .features .section_title {
    margin-bottom: 20px;
  }
}
@media (max-width: 375px) {
  .features .feature_item {
    width: 100%;
    padding: 0;
  }
  .features .feature_item:last-child {
    margin-bottom: 0;
  }
}
