@media(min-width: 1700px){
  .clouds_block{
    bottom: -250px;
  }
  .cards_section{
    padding-top: 250px;
  }
}
@media (max-width: 1700px) {
  .p6{
    bottom: 55%;
  }
  .result_body .result_item .item_body .info_list .info_item h3 {
    font-size: 32px;
  }
  .result_body .result_item .item_body .info_list .info_item h5 {
    font-size: 16px;
  }
  .result_body .air_item .air_desc .desc_row .route_info .route_row h4 {
    font-size: 16px;
  }
  .result_body .air_item .air_price h4 {
    margin-top: 40px;
    font-size: 32px;
  }
  .optimal_list .optimal_item .optimal_desc h3 {
    width: 100%;
  }
  .optimal_list .optimal_item .optimal_desc h3 {
    margin-bottom: 130px;
  }
  .optimal_list .optimal_item .item_variants .variant .variant_desc {
    padding: 0 15px;
  }
  .optimal_list .optimal_item .item_variants .variant .variant_desc p {
    font-size: 16px;
  }
  .main_section .cloud_item.third {
    bottom: -320px;
  }
}
@media (max-width: 1520px) and (min-width: 992px) {
  .e_ticket {
    position: absolute;
    top: 40px;
    right: 30px;
    margin-right: 0!important;
  }
}
@media (max-width: 1520px) {
  .main_section .cloud.railway{
    bottom: -200px;
  }
  .p1{
    width: 300px;
  }
  .order_form_block .order_input_row {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .order_form_block .order_input_row .input_half_block:last-child {
    margin-left: 0;
    margin-right: 0;
  }
  .main_section .cloud_item.first {
    bottom: -40px;
  }
  .main_section .cloud_item.second {
    bottom: -60px;
  }
  .result_body .result_item {
    position: relative;
  }
  .result_body .result_item .item_body {
    padding-left: 0;
  }
  .result_body .result_item .item_body .info_list .info_item h3 {
    font-size: 26px;
  }
  .result_body .result_item .item_body .info_list {
    width: 100%;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .result_body .result_item .item_body .info_list .info_item:nth-child(1) {
    margin-right: 15px;
  }
  .result_body .result_item .item_body .info_list .info_item {
    margin-bottom: 15px;
  }
  .result_body .result_item .item_body .info_list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .result_body .result_item .item_body .info_list .route_btn {
    margin: 0 auto;
  }
  .result_body .result_item .item_body .info_list .info_item:nth-child(1),
  .result_body .result_item .item_body .info_list .info_item:nth-child(2) {
    width: -webkit-calc(50% - 15px);
    width: calc(50% - 15px);
  }
  .result_body .air_item .air_price {
    padding-left: 15px;
  }
  .result_header .show_more {
    margin-left: auto;
  }
  .result_header {
    padding: 10px 24px;
  }
  .best_results {
    padding: 10px 24px;
  }
  .result_header .header_list .item {
    -webkit-box-flex: 400;
    -webkit-flex-grow: 400;
        -ms-flex-positive: 400;
            flex-grow: 400;
  }
  .result_header {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .result_header .header_list {
    width: 100%;
    margin-top: 20px;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .result_header .result_title {
    margin-right: 20px;
  }
  .result_body .air_item .more_route_info {
    padding-left: 0;
  }
  .route_info p:last-child {
    margin-left: auto;
  }
  .result_body .air_item .air_desc {
    width: 70%;
    padding-right: 15px;
  }
  .result_body .air_item .air_price {
    width: 30%;
  }
  .result_body .air_item .air_price h4 {
    font-size: 24px;
  }
  .result_body .air_item .air_desc .desc_row {
    padding-left: 0;
    padding-bottom: 100px;
    position: relative;
  }
  .result_body .air_item .air_desc .desc_row .route_info {
    padding: 0 10px;
  }
  .result_body .air_item .air_desc .desc_row .route_info .route_row {
    position: absolute;
    left: 0;
    margin-left: 0;
    bottom: 0;
    width: 100%;
  }
  .optimal_list .optimal_item .optimal_desc .price h4 {
    font-size: 28px;
  }
  .optimal_list .optimal_item .optimal_desc .item_date {
    font-size: 18px;
  }
  .optimal_list .optimal_item .optimal_desc .price h5 {
    font-size: 18px;
  }
  .optimal_list .optimal_item .optimal_desc h3 {
    font-size: 32px;
  }
  .optimal_list .optimal_item .optimal_desc {
    padding-left: 30px;
    width: 65%;
  }
  .optimal_list .optimal_item .main_img {
    width: 35%;
  }
  .block .employee_list .item .bio {
    margin-left: auto;
  }
  .block .employee_list .item {
    padding-right: 21px;
    width: 100%;
  }
  .block .employee_list .item .name {
    width: auto;
    -webkit-box-flex: 400;
    -webkit-flex-grow: 400;
        -ms-flex-positive: 400;
            flex-grow: 400;
  }
  .inner_search .submit_btn {
    font-size: 20px;
  }
  .inner_search .submit_btn img {
    height: 22px;
  }
  .inner_section .left_block {
    width: -webkit-calc(35% - 30px);
    width: calc(35% - 30px);
  }
  .main_block {
    width: 65%;
  }
  .optimal_list .optimal_item .item_variants .variant .variant_desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .optimal_list .optimal_item .item_variants .variant .variant_desc p {
    line-height: 1.2;
    font-size: 14px;
  }
}
@media (max-width: 1380px) {
  .main_section .cloud_item.third {
    bottom: -290px;
  }
}
@media (max-width: 1200px) {
  .main_section .cloud_item.third {
    bottom: -255px;
  }
  .result_body .air_item .air_price button {
    font-size: 24px;
  }
  .optimal_list .optimal_item .item_variants .variant .variant_desc {
    width: -webkit-calc(100% - 205px);
    width: calc(100% - 205px);
    margin-right: 15px;
  }
  .optimal_list .optimal_item .optimal_desc .price {
    position: relative;
    margin-top: 20px;
    text-align: left;
    padding-left: 120px;
  }
  .optimal_list .optimal_item .optimal_desc .price img {
    position: absolute;
    left: 0;
  }
  .optimal_list .optimal_item .optimal_row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .optimal_list .optimal_item .optimal_desc {
    width: 100%;
    padding-left: 0;
  }
  .optimal_list .optimal_item .main_img {
    width: 100%;
    margin-bottom: 20px;
  }
  .optimal_list .optimal_item .optimal_desc h3 {
    margin-bottom: 20px;
  }
  .block .employee_list .item .bio {
    margin-left: auto;
  }
  .block.employee_block {
    padding-right: 80px;
  }
  .block .employee_list .item .name {
    width: 60%;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 20px;
  }
  .inner_search .toggler {
    position: absolute;
    top: -70px;
    margin: 0!important;
  }
  .inner_section .last_search .input_div.half_div {
    width: 100%;
  }
  .header_search {
    padding: 130px 0;
  }
  .block .card_row .progress_bars_block {
    width: 100%;
    padding-left: 0;
    margin-top: 30px;
  }
  .block .card_row .card_img {
    width: 50%;
    max-width: 50%;
  }
  .block .block_btn {
    height: 40px;
    width: 40px;
  }
  .block .block_btn img {
    width: 20px;
    height: 20px;
  }
  .inner_section .left_block .main_user_cabinet_block .user_info {
    margin-bottom: 20px;
  }
  .inner_section .user_info .user_name h4 {
    font-size: 16px;
  }
  .inner_section .user_info .user_name {
    font-size: 14px;
  }
  .inner_section .left_block .user_info_block .tabs {
    margin-left: -20px;
    margin-bottom: 20px;
    margin-right: -20px;
  }
  .inner_section .left_block .user_info_block {
    padding: 24px 20px;
  }
  .inner_section .left_block .user_info_block .tabs .tab_item {
    padding-left: 20px;
    height: 40px;
    font-size: 16px;
  }
  .block {
    padding: 24px;
    padding-right: 60px;
  }
  .block_title {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 20px;
  }
  .info_block .list_row .first_list p,
  .block .list .list_item {
    font-size: 14px;
  }
}
@media (max-width: 1300px) {
  .cards_row .card_item {
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .cards_row .card_item img {
    width: 250px;
  }
}
@media (max-width: 1200px) and (min-width: 992px) {
  .variant .submit_btn {
    width: 200px;
  }
  .inner_search .submit_btn {
    position: absolute;
    bottom: -70px;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
  }
  footer .main_footer_menu a {
    font-size: 10px;
  }
  footer .main_footer_menu a {
    margin-bottom: 10px;
  }
}
@media (min-width: 992px) {
  .shape_mobile {
    display: none!important;
  }
}
.shape_mobile {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: none;
}
.shape_mobile.railway_shape {
  display: none;
}
.show_md {
  display: none;
}
@media (max-width: 991px) {

  .main_section .clouds_block{
    display: none!important;
  }
  .width_100_md {
    width: 100%!important;
    margin-right: 0!important;
  }
  .order_form_block .order_input_row .input_half_block:first-child {
    margin-bottom: 30px;
  }
  .order_form_block .order_input_row .input_half_block {
    width: 100%;
    max-width: 100%;
  }
  .input_row .dropdown_input .dropdown_block {
    z-index: 50;
  }
  .result_header {
    padding: 24px 16px;
  }
  .result_body .result_item .item_body .info_list .info_item {
    width: 100%;
  }
  .result_body .result_item .item_body .info_list .info_item:nth-child(1),
  .result_body .result_item .item_body .info_list .info_item:nth-child(2) {
    width: 100%;
    margin-right: 0;
  }
  .result_body .result_item .item_body .info_list .route_btn {
    margin-right: 0;
  }
  .best_results {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .best_results .item {
    width: -webkit-calc(50% - 4px);
    width: calc(50% - 4px);
  }
  .result_header .header_list {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .result_header .header_list .item {
    width: -webkit-calc(50% - 4px);
    width: calc(50% - 4px);
  }
  .result_body .air_item .air_desc .desc_row {
    margin-top: 20px;
  }
  .result_body .air_item {
    padding: 24px 16px;
  }
  .result_body .air_item .air_desc .air_read_more {
    margin-left: auto;
    margin-right: auto;
  }
  .result_body .air_item .air_desc {
    border-bottom: 1px dashed #ececec;
    border-right: unset;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-right: 0;
    width: 100%;
  }
  .result_body .air_item .air_price button {
    width: 220px;
    font-size: 36px;
    margin-top: 30px;
  }
  .result_body .air_item .air_price {
    width: 100%;
    padding-left: 0;
  }
  .result_body .air_item .air_price h4 {
    margin-top: 0;
  }
  .result_body .air_item {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .optimal_list .optimal_item {
    padding: 24px 16px;
  }
  .optimal_list .optimal_item .optimal_desc h3 {
    font-size: 24px;
  }
  .optimal_list .optimal_item .optimal_desc .price h4 {
    font-size: 20px;
  }
  .optimal_list .optimal_item .optimal_desc .price h5 {
    font-size: 16px;
  }
  .optimal_list .optimal_item .item_variants {
    margin-top: 30px;
  }
  .inner_section .left_block .dropdown_filter,
  .inner_section .left_block .reset_btn,
  .inner_section .left_block .notification_btn {
    padding: 24px 16px;
  }
  .optimal_list .optimal_item .item_variants .variant {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .optimal_list .optimal_item .item_variants .variant .submit_btn {
    width: 100%;
  }
  .optimal_list .optimal_item .item_variants .variant .variant_desc {
    width: 100%;
    height: auto;
    padding: 15px;
    margin-bottom: 10px;
  }
  .optimal_list .optimal_item .item_variants .variant .variant_desc p {
    font-size: 16px;
    padding-right: 0;
    -o-text-overflow: unset;
       text-overflow: unset;
    overflow: unset;
    white-space: unset;
    margin-bottom: 15px;
  }
  .optimal_list .optimal_item .item_variants .variant .variant_desc p:last-child {
    margin-bottom: 0;
  }
  .block.payment_types {
    padding-right: 24px;
  }
  .block .types_row a {
    width: 100%;
    margin-right: 0;
    padding: 0 16px;
  }
  .block .types_row a img {
    margin-right: 16px;
  }
  .block .types_row a p {
    font-size: 20px;
  }
  .inner_search .additional_btn {
    bottom: 15px;
    top: unset;
  }
  .inner_search .toggler {
    position: relative;
    top: unset;
  }
  .inner_section .left_block {
    width: -webkit-calc(40% - 30px);
    width: calc(40% - 30px);
  }
  .main_block {
    width: 60%;
  }
  footer .main_footer_menu {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer .menu_block {
    width: 33.333333%;
    padding: 0 10px;
    margin-top: 20px;
  }
  footer .main_footer_menu .menu_block_btn {
    width: 150px;
  }
  .cards_section .section_title {
    color: #2E0D84;
  }
  .main_section .banner_content .radios_block {
    margin-right: 0;
    padding: 0;
  }
  .main_section {
    height: auto;
  }
  .input_row .dropdown_input .dropdown_title,
  .banner_input input[type=text] {
    padding: 0 20px!important;
  }
  .date .icon {
    right: 20px;
  }
  .main_section .banner_content {
    position: relative;
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
    left: unset;
    top: unset;
    right: unset;
    bottom: unset;
    padding-bottom: 50px;
    padding-top: 120px;
  }
  .hide_md {
    display: none;
  }
  .show_md {
    display: block;
  }
  .shape_mobile.plane_shape {
    display: block;
  }
  .input_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .input_row .banner_input {
    margin-bottom: 7px;
    margin-right: 0;
    width: 100%!important;
  }
  .dropdown_input .exchange {
    left: 50%;
    right: unset;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    top: unset;
    bottom: -38px;
  }
  .main_section {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#d31ed1), color-stop(#a72ac7), color-stop(#7c2eb9), color-stop(#502ea7), to(#1b2a93));
    background-image: -webkit-linear-gradient(bottom, #d31ed1, #a72ac7, #7c2eb9, #502ea7, #1b2a93);
    background-image: -o-linear-gradient(bottom, #d31ed1, #a72ac7, #7c2eb9, #502ea7, #1b2a93);
    background-image: linear-gradient(to top, #d31ed1, #a72ac7, #7c2eb9, #502ea7, #1b2a93);
  }
  .main_section .cloud {
    display: none!important;
  }
}
@media (max-width: 991px) {
  .inner_search {
    padding: 30px 0;
  }
  .info_block .list_row .list {
    width: 100%;
    margin-top: 20px;
  }
  .cards_section .card {
    padding: 0 10px;
  }
  header .log_out {
    margin-left: 20px;
  }
  header .account_type {
    margin-left: 20px;
  }
}
.show_sm {
  display: none;
}
@media (max-width: 767px) {
  .order_form_block {
    padding: 24px 16px;
  }
  .show_sm {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .hide_sm {
    display: none;
  }
  .block.employee_block {
    padding-right: 24px;
  }
  .corp_user_info_block .user_info {
    margin-bottom: 0;
  }
  .block {
    padding-right: 24px;
  }
  .block .card_footer .updated_info {
    margin-left: 0;
    margin-top: 20px;
  }
  .block .card_footer .card_info .card_info_item {
    margin-bottom: 20px;
  }
  .small_title,
  .inner_section .last_search {
    display: none;
  }
  .inner_section .left_block {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .main_block {
    width: 100%;
  }
  header .account_type {
    display: none;
  }
  .cards_section .section_title {
    margin-bottom: 20px;
  }
  .cards_section {
    padding-top: 25px;
  }
  footer.main_footer {
    margin-top: 50px;
  }
  .cards_section .row {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards_section .row .card {
    padding: 0;
    margin-bottom: 15px;
    width: 250px;
  }
  .cards_section .row .card:last-child {
    margin-bottom: 0;
  }
  .toggler:after {
    border: 1px solid #9E22BF;
  }
  .section_title {
    font-size: 20px;
    line-height: 24px;
  }
  .toggler {
    margin-left: auto;
    margin-bottom: 4px;
    margin-right: 8px;
    margin-top: 32px;
    background: #9E22BF;
  }
  .toggler label {
    width: 40px;
  }
  .toggler label span {
    display: none;
  }
  .toggler label img {
    -webkit-filter: brightness(10000%);
            filter: brightness(10000%);
    margin-right: 0;
  }
  .toggler .first {
    margin-right: 0;
  }
  .additional_btn {
    -webkit-border-radius: 17.5px;
    border-radius: 17.5px;
    height: 35px;
    line-height: 11px;
    width: 105px;
  }
}
@media (max-width: 575px) {
  .route_item_mobile {
    display: block;
  }
  .result_header .header_list .item {
    text-align: center;
  }
  .form_modal .submit_btn {
    padding-right: 0;
  }
  footer .main_footer_menu h4 img {
    display: block;
  }
  .result_header .show_more {
    margin-left: 0;
    margin-top: 12px;
  }
  .result_body .result_item .item_body .info_list .e_ticket {
    width: 100%;
    margin-right: 0;
  }
  .result_body .result_item .item_body .info_list .route_btn {
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
  }
  .result_body .result_item .item_body .info_list {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .end_air_date {
    margin-left: auto;
  }
  .desc_row {
    padding-top: 15px;
  }
  .desc_row .first_route_date {
    position: absolute;
    left: 0;
    top: 0px;
  }
  .desc_row .second_route_date {
    position: absolute;
    right: 0;
    top: 0px;
  }
  .result_body .air_item .more_route_info .route_desc_column .note {
    margin-bottom: 25px;
  }
  .result_body .air_item .more_route_info .time_column {
    display: none;
  }
  .result_body .air_item .more_route_info .route_desc_column {
    width: 100%;
  }
  .inner_header {
    padding: 20px 0;
  }
  .optimal_list .optimal_item .optimal_desc .price h5 {
    font-size: 14px;
  }
  .optimal_title_block {
    margin-bottom: 25px;
  }
  .article_section h3 {
    font-size: 20px;
  }
  .article_section {
    padding: 30px 0;
  }
  .text_section {
    padding-top: 120px;
    padding-bottom: 60px;
  }
  .block .employee_list .item .name {
    -webkit-box-flex: unset;
    -webkit-flex-grow: unset;
        -ms-flex-positive: unset;
            flex-grow: unset;
  }
  .block.employee_block {
    padding-right: 16px;
  }
  .block .employee_list .item .name,
  .block .employee_list .item .bio {
    font-size: 16px;
  }
  .block_title {
    font-size: 20px;
  }
  .inner_search .additional_btn {
    top: 0;
    bottom: unset;
  }
  .inner_search .input_row {
    width: auto;
    margin: 0 auto;
  }
  footer .second_row .footer_apps a {
    margin: 0 10px;
  }
  footer .second_row .footer_apps a img {
    width: 120px;
  }
  footer .first_footer {
    margin-bottom: 30px;
  }
  footer .second_row .footer_apps {
    margin-bottom: 0;
  }
  .inner_header .menu_block {
    margin-left: 20px;
  }
  header .log_out {
    font-size: 14px;
  }
  header .lang_dropdown .lang_title {
    font-size: 14px;
  }
  header .log_out {
    margin-left: 10px;
  }
  .block .types_row a {
    padding-left: 16px;
    padding-right: 16px;
  }
  .block .types_row a p {
    font-size: 18px;
  }
  .block {
    padding: 24px 16px;
  }
  .block .card_row .card_img {
    width: -webkit-calc(100% - 16px);
    width: calc(100% - 16px);
    max-width: -webkit-calc(100% - 16px);
    max-width: calc(100% - 16px);
  }
  .block .user_btns a,
  .block .trips_list .add_trip,
  .block .trips_list .trip_item {
    width: 100%;
    margin-right: 0;
  }
  .main_section .banner_content {
    padding-bottom: 30px;
  }
  .submit_btn {
    width: 250px;
    height: 50px;
    font-size: 22px;
    position: relative;
    padding-right: 27px;
    margin-top: 25px;
  }
  .submit_btn img {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    right: 20px;
    width: 27px;
  }
  .call_btn {
    right: 30px;
    bottom: 30px;
    height: 40px;
    width: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .call_btn img {
    width: 42px;
    height: 42px;
  }
  .call_btn:after,
  .call_btn:before {
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }
  .form_modal .form_title {
    margin-bottom: 20px;
  }
  .form_modal {
    width: 280px;
  }
  .form_modal .form_btns .btn img {
    margin-right: 12px;
  }
  .form_modal .change_tab_btn {
    margin-top: 15px;
  }
  footer .main_footer_menu h4 {
    margin-bottom: 14px;
  }
  footer .main_footer_menu a {
    display: block;
    margin-bottom: 10px;
  }
  footer .menu_block {
    margin-top: 0;
  }
  footer .main_footer_menu .menu_list {
    display: none;
  }
  .form_modal {
    right: -20px;
    top: 50px;
  }
  .cards_section .section_title {
    line-height: 20px;
  }
  .cards_section .section_title br {
    display: block;
  }
  .toggler {
    margin-right: auto;
    right: -75px;
  }
  .main_section .additional_btn {
    top: -45px;
    -webkit-border-radius: 17.5px;
    border-radius: 17.5px;
    height: 35px;
    line-height: 11px;
    width: 105px;
    left: -webkit-calc(50% - 70px);
    left: calc(50% - 70px);
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
  }
  .main_section .banner_content {
    padding-left: 30px;
    padding-right: 30px;
  }
  header .menu_block img {
    width: 22px;
    height: 22px;
  }
  header .user_block .user_icon {
    height: 22px;
  }
  header .menu_block {
    margin-left: 11px;
  }
  header .logo_text {
    font-size: 22px;
    line-height: 1;
  }
  .main_header {
    padding: 30px;
  }
  .main_header .row {
    padding: 0;
  }
  .row {
    padding: 0 15px;
  }
  .input_row .banner_input {
    width: 250px!important;
    margin-left: auto;
    margin-right: auto;
  }
  .main_section .banner_content .radios_block {
    width: 250px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: auto;
  }
  .main_section .banner_content .radios_block .radio_item {
    width: 100%;
    margin-bottom: 25px;
  }
  .main_section .banner_content .radios_block .radio_item:last-child {
    margin-bottom: 0;
  }
  .main_section .banner_content .radios_block {
    padding: 15px;
    height: auto;
  }
  footer .menu_block {
    width: 156px;
    text-align: right;
  }
  footer .main_footer_menu h4 {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  footer .main_footer_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 430px) {
  .block .types_row a p {
    font-size: 16px;
  }
  .block .employee_list .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block .employee_list .item .name {
    width: 100%;
    margin-bottom: 6px;
    color: #000;
  }
  .block .employee_list .item .bio {
    margin-left: auto;
    width: 100%;
  }
  .block .employee_list .item {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.result_body .mobile_air_item .air_desc {
  width: 100%;
  padding-right: 0;
  border-right: 0;
  border-bottom: unset!important;
  padding-bottom: 0!important;
  margin-bottom: 0!important;
}
.result_body .mobile_air_item .more_route_info {
  padding-left: 0;
}
.result_body .mobile_air_item .air_desc .desc_row {
  padding-left: 0;
  padding-bottom: 100px;
  position: relative;
}
.result_body .mobile_air_item .air_desc .desc_row .route_info .route_row {
  position: absolute;
  left: 0;
  margin-left: 0;
  bottom: 0;
  width: 100%;
}
.result_body .mobile_air_item .more_route_info .route_desc_column {
  width: 100%;
}
.result_body .mobile_air_item .air_desc .desc_row .air_date h5 {
  font-size: 16px;
}
.result_body .mobile_air_item .desc_row .first_route_date {
  position: absolute;
  left: 0;
  top: 0;
}
.result_body .mobile_air_item .desc_row .second_route_date {
  position: absolute;
  right: 0;
  top: 0;
}
.result_body .mobile_air_item .air_desc .desc_row .air_date h4 {
  font-size: 28px;
}
.result_body .mobile_air_item .air_price {
  width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
}
.result_body .mobile_air_item .air_price h4 {
  margin-top: 0;
}
.result_body .mobile_air_item .end_air_date {
  text-align: right;
}
.result_body .mobile_air_item .air_desc .desc_row {
  margin-top: 20px;
  padding-top: 20px;
}
.result_body .mobile_air_item .air_desc .desc_row .route_info {
  margin: 0 auto;
}


